---
layout: main
---
<!-- Created by Kevin & Michael Fei & Sarah -->
<!-- Updated by OSMS Dev Team -->

<!-- header-->
{% assign landingLinks = [{ href: "#about", label: "About OSMS" }, { href: "#statistics", label: "Our Impact" }, { href: "#values", label: "Designs" }, { href: "#featured", label: "Media and Supporters" }, { href: "#contact", label: "Contact" }]%}
{% include nav.html links=landingLinks %}

<!-- End Header -->
{% include landing-page/sections/hero.html %}

<main id="main">
  {% include landing-page/sections/resources.html %}
  {% include landing-page/sections/about.html %}
  {% include landing-page/sections/statistics.html %}
  {% include landing-page/sections/designs.html %}
  {% include landing-page/sections/press.html %}
  {% include landing-page/sections/sponsors.html %}
  {% include shared/contact.html %}
</main><!-- End #main -->
