<!-- include.links = Array<{href: string; label: string;}> -->
<header id="header">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="index.html"><span>OSMS</span></a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        {% for link in include.links %}
          <li><a href="{{link.href}}">{{link.label}}</a></li>
        {% endfor %}

        <div class="dropdown_new">
          <li><a href="">Take Action Now</a></li>
          <div class="dropdown-content">
            <div class="header"></div>
            <div class="row text-center" style="display: flex; justify-content: space-around; width: 100%;">
              <li class="col-sm-12" style="font-size: 30px; font-family: 'Poppins', sans-serif">OSMS Guides</li>
              <li><a href="https://docs.google.com/document/d/1-71FJTmI1Q1kjSDLP0EegMERjg_0kk_7UfaRE4r66Mg/edit"><img
                    src="/assets/img/logos/osms-orange.png" style="width:auto;height:100px; margin-bottom:20px"></a>
              </li>
              <li><br></li>
              <li><a href="https://oscms.app.box.com/s/zh0aynd8hflxkfdaucs14ifs05z8d8dn"><img
                    src="/assets/img/logos/osms-blue.png" style="width:auto;height:100px;margin-bottom:20px"></a></li>
            </div>
            <div class="row text-center" style="position: relative;">
              <div class="col-sm-4 col-lg-2"></div>


              <div class="col-sm-3 col-lg-2">
                <ul class="menu_content">
                  <li class="dropdown-header">Make Supplies</li>
                  <li class="item-content"><a href="#">Home Lab</a> </li>
                  <li class="item-content"><a href="#">Fabrication Lab</a></li>
                  <li class="item-content"><a href="#">Industrial Lab</a></li>
                </ul>
              </div>
              <div class="col-sm-3 col-lg-2">
                <ul class="menu_content">
                  <li class="dropdown-header">Connect with Us</li>
                  <li class="item-content"><a href="#">COVID Help Map</a></li>
                  <li class="item-content"><a href="#">OSMS Local Group Roster</a></li>
                  <li class="item-content"><a href="#">Local Response Guide</a> </li>
                </ul>
              </div>
              <div class="col-sm-3 col-lg-2">
                <ul class="menu_content">
                  <li class="dropdown-header">Get Involved</li>
                  <li class="item-content"><a href="#">Volunteer with OSMS</a></li>
                  <li class="item-content"><a href="#">Submit a Design</a> </li>
                  <li class="item-content"><a href="#">Donate</a></li>
                </ul>
              </div>
              <div class="col-sm-3 col-lg-2">
                <ul class="menu_content">
                  <li class="dropdown-header">Learn More</li>
                  <li class="item-content"><a href="#">About Us</a></li>
                  <li class="item-content"><a href="#">Affiliates</a></li>
                  <li class="item-content"><a href="#">Subscribe to Updates</a></li>
                </ul>
              </div>
              <div style="
              z-index: 10;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;">
                <div id="coming-soon-background" style="
              position: absolute;
              width: 100%;
              height: 100%;
              opacity: 0.7;
              background: black;"></div>
                <h1 style="z-index: 15;
            font-weight: 700;
            color: black;
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;">Coming Soon</h1>
              </div>
            </div>

          </div>
        </div>
      </ul>
    </nav>

  </div>
</header>