* {
  font-size: 16px; // 1rem = 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

a {
  color: #ff5821 !important;
  &:hover {
    color: #ff7e54 !important;
    opacity: 0.5;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

img {
  max-width:100%;
}

hr {
  border-top-color: rgba(0,0,0,0.3) !important;
  &.hr-med {
    border-top-width: 2px;
    margin: 1.5rem 0;
  }
  &.hr-thick {
    border-top-width: 4px;
    margin: 2rem 0;
  }
}