<section id="about" class="section-bg">
  <div class="container">
    <div class="section-title">
      <h2 data-aos="fade-up" data-aos-anchor-placement="center-bottom">About OSMS</h2>
      <p data-aos="fade-up" data-aos-anchor-placement="center-bottom"> We are an organization coordinating relief efforts in response to the COVID-19 pandemic.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-4 state d-flex flex-column icon-box mr-4 p-3 background-white border-radius-0-5" data-aos="fade-up" data-aos-delay="100">
          <p><strong>Open Source Medical Supplies</strong> helps local fabricators and institutions responsibly create and distribute protective gear and medical equipment to communities in crisis.</p>
          <p>We provide medically and technically reviewed open source design plans to fabricators of all scales, and offer guidance to community leaders to help organize effective local response efforts.
          </p>
        </div>
        <div class="row col-8 background-and-border">
          <div class="icon-box col-4 d-flex flex-column align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <img src="/assets/img/landing-page/icon_light.PNG" class="icon" style="width:100px;height:100px">
            <h4 class="mt-2">Goal 1</h4>
            <p>Consolidate reviewed designs that can be immediately produced.</p>
          </div>

          <div class="icon-box col-4 d-flex flex-column align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <img src="/assets/img/landing-page/icon_wifi.png" class="icon" style="width:100px;height:100px">
            <h4 class="mt-2">Goal 2</h4>
            <p>Educate and connect volunteers together. </p>
          </div>

          <div class="icon-box col-4 d-flex flex-column align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="300">
            <img src="/assets/img/landing-page/icon_wrench.png" class="icon" style="width:100px;height:100px">
            <h4 class="mt-2">Goal 3</h4>
            <p>Offer support, mentorship, and guidance to local communities.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>