<section id="values" class="values section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
      <h2>Open Source Projects</h2>
      <p>This is our collection of open source projects for Medical Devices and Medical Supplies.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="card"
          style="background-image: url(/assets/img/landing-page/laryngoscope.png); background-position: 50% 25%;">
          <a href="medical-supply-guide" target="_blank" rel="noopener noreferrer">
            <div class="card-body">
              <h5 class="card-title">Medical Devices</h5>
              <p class="card-text">Collection of Medical Devices used during the treatment of COVID-19 patients.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
        <div class="card"
          style="background-image: url(/assets/img/landing-page/oxygen_mask.jpg); background-position: -50% 15%; background-size: 90%;">
          <a href="medical-supply-guide" target="_blank" rel="noopener noreferrer">
            <div class="card-body">
              <h5 class="card-title">Medical Supplies</h5>
              <p class="card-text">Collection of PPE and Medical Supplies used during the treatment of COVID-19
                patients.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>