<section id="resources" class="resources">
  <div class="container">

    <div class="row">
      <div class="row justify-content-center icon-boxes">
        <!-- medical supply guide -->
        <div class="col-5 icon-box background-and-border pt-3 mr-4" style="height: unset;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <h1 class="text-center" data-aos="fade-up"><a class="osms-link" href="/medical-supply-guide">Search</a> our Supply Guide</h1>
          <div class="d-flex flex-column" style="text-align:left" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom">
            <p>Our COVID-19 Medical Supply Guide is a comprehensive guide to understanding which medical supplies and
              devices are used during the treatment of a COVID-19 patient, as well as information on global needs for
              these products.</p>
            <p>It is a resource specifically for makers and contains the information they need to produce
              supplies and devices required during this global pandemic.</p>
            <a class="link-hover" style="margin: 0 auto; margin-top: 21px;" href="/medical-supply-guide">
              <img src="/assets/img/logos/osms-orange.png" style="height:100px;">
            </a>
          </div>
        </div>

        <!-- local response -->
        <div class="col-5 icon-box background-and-border pt-3" style="height: unset; padding: 30px 20px;" data-aos="fade-up"
          data-aos-anchor-placement="top-bottom">
          <h1 class="text-center" data-aos="fade-up"><a class="osms-link"
              href="https://docs.google.com/spreadsheets/d/1JH5uL3WW6PwvwFRe4wqXkheK0-jcGYqaPmb9J3Dr6Ac/edit?fbclid=IwAR2lfgxHK3BpFsuQNuC5hXSqnvDv60mQ7RfRWavAsG-II55j7CtwkCIe5-k#gid=179139280"
              target="_blank" rel="noopener noreferrer">Find</a> a Local Chapter</h1>
          <div class="d-flex flex-column" style="text-align:left" data-aos="fade-up"
            data-aos-anchor-placement="top-bottom">
            <p>OSMS supports groups by providing a common point of contact and information on how to form local
              responses to COVID-19. Connect with Us!</p>
            <p>If you already have a local group, please let us know by filling out this short form: 
              <a class="osms-link"
                href="https://docs.google.com/forms/d/1d48Xpmg3cQ9cjf1L7MObH0tqHyTf9PS3w7_AIVJT7Pg/viewform?edit_requested=true"
                target="_blank" rel="noopener noreferrer">OSMS Local Group Registry
              </a>
            </p>
            <p>If you are interested in forming a group in your area, please consult our Local Response Guide for
              further support.</p>
            <a class="link-hover" style="margin: 0 auto; margin-top: 5px;"
              href="https://oscms.app.box.com/s/zh0aynd8hflxkfdaucs14ifs05z8d8dn">
              <img src="/assets/img/logos/osms-blue.png " style="height:100px;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>