<section id="sponsor" class="section-bg">
  <div class="section-title">
    <h2 data-aos="fade-up" data-aos-anchor-placement="center-bottom"> Our Supporters</h2>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-md-12 state icon-box" data-aos="fade-up" data-aos-delay="150">
        <a href="https://schmidtfutures.com">
          <img class="img-fluid icon" src="/assets/img/logos/partners_schmidt.svg" alt="centered image" class="icon"
            style="width:auto;max-height:100%;" />
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center" style="margin-top: 25px;">
      <div class="col-lg-3 col-md-6 state icon-box" data-aos="fade-up" data-aos-delay="50">
        <a href="https://www.tri.global">
          <img class="img-fluid icon" src="/assets/img/logos/partners_tri.svg" class="icon"
            style="width:auto;max-height:100%" />
        </a>
      </div>
      <div class="col-lg-3 col-md-6 state icon-box" data-aos="fade-up" data-aos-delay="100">
        <a
          href="https://www.resolve.ngo/osms.htm?fbclid=IwAR1hgCEv1a6qIWL2F309S2odyp22RQuhIAthz60KZGIS5DN3JBdkHkEPWnI">
          <img class="img-fluid icon" src="/assets/img/logos/partners_resolve.svg" class="icon"
            style="width:auto;max-height:100%" />
        </a>
      </div>

    </div>

  </div>
</section>