<section id="statistics" class="section-bg">
  <div class="container">
    <div class="section-title">
      <h2 data-aos="fade-up" data-aos-anchor-placement="center-bottom">Our Impact</h2>
      <p data-aos="fade-up" data-aos-anchor-placement="center-bottom">Get to know our organization better through the
        statistics. Our numbers are increasing and we are making bigger impacts everyday.</p>
    </div>
    <div class="container">
      <div class="row background-and-border">
        {% include partials/icon-card.html
          fileName="landing-page/stat_connect.PNG"
          text="Our Facebook Group has <b>70,000+</b> members."
        %}
        {% include partials/icon-card.html
          fileName="landing-page/stat_mask.PNG"
          text="Individuals have produced <b>733,000</b> medical supplies."
        %}
        {% include partials/icon-card.html
          fileName="landing-page/stat_map.PNG"
          text="We have connected with <b>20+</b> states and <b>15+</b> countries."
        %}
        {% include partials/icon-card.html
          fileName="landing-page/stat_heart.png"
          text="Produced an <b>80+</b> page Open Source COVID-19 Medical Supply Guide."
        %}
      </div>
    </div>
  </div>
</section>