<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2 data-aos="fade-up">Contact</h2>
      <p data-aos="fade-up">Contact us if you are an engineer, a medical professional, an innovator, or anyone who
        wants to help the community. Submit your interests and local health care centers so that we can form cohesive
        local groups. Your hospitals will need your help very soon, if not already.
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-4 mt-4" data-aos="fade-up">
        <div class="info-box">
          <i class="bx bx-envelope"></i>
          <h3>Support Us</h3>
          <p>Reach out to us at <a
              href="mailto:info@opensourcemedicalsupplies.org">info@opensourcemedicalsupplies.org</a> to support us
            professionally or financially.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 mt-4" data-aos="fade-up">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>Join the Facebook Page</h3>
          <p> For more details, join the OpenSource COVID Medical Supplies <a
              href="https://www.facebook.com/groups/opensourcecovid19medicalsupplies/">Facebook page</a><br><br></p>
        </div>
      </div>
    </div>
  </div>
</section>