* {
  font-size: 16px; // 1rem = 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

a {
  color: #ff5821;
  &:hover {
    color: #ff7e54;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

img {
  max-width:100%;
}